<button href="#"
  data-controller="counter"
  data-action="click->counter#increment"
  data-step=-1
>-</button>
<%= session[:count] %>
<button href="#"
  data-controller="counter"
  data-action="click->counter#increment"
  data-step=1
>+</button>
